.Symbol {
  border-top: 1px solid black;
  font-size: 1.25rem;
}

.Symbol__header {
  padding: 0.5em;
  position: relative;
}

.Symbol__buttons {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.Symbol__header:hover .Symbol__buttons {
  display: flex;
}

.Symbol__button {
  font-size: 0.5em;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  border: 1px whitesmoke solid;

  span[role="img"] {
    display: flex;
    justify-content: center;
    flex: 1;

    svg {
      height: 100%;
      width: 100%;
      transition: 0.05s ease-out;

      path:first-child {
        opacity: 1;
      }
    }
  }

  &:hover svg path:first-child {
    fill: #ff8f00;
  }

  &--add-child svg path {
    transition: 0.2s ease-in-out;
    transform-origin: center center;
  }

  &--add-child:hover svg path:first-child {
    fill: green;
    transform: rotate(90deg);
  }

  &--delete,
  &--edit {
    svg path:first-child {
      fill: whitesmoke;
    }
  }

  &--move-up:hover svg {
    transform: translateY(-3px);
  }

  &--move-down:hover svg {
    transform: translateY(3px);
  }

  &--edit:hover svg {
    transform: rotate(10deg);
  }

  &--delete:hover {
    svg path:first-child {
      fill: #dd2323;
    }

    svg path:last-child {
      transform: translateY(-1px);
    }
  }
}

.Symbol__children {
  width: calc(100% - 2rem);
  margin-left: auto;
  border-left: 1px solid black;

  &--empty {
    display: none;
  }
}

.Symbol--TestLastLoop {
  display: flex;
  flex-direction: column-reverse;

  & > .Symbol__children {
    border: 1px solid black;
    border-width: 0 0 1px 1px;

    & > .Symbol:first-child {
      border-top: 0;
    }
  }
}

.Symbol--Branch {
  & > .Symbol__header {
    display: grid;
    min-height: 101px;
    position: relative;
    grid-template-rows: 1.5rem 1fr;
    grid-template-columns: auto 1fr auto;

    &::before {
      content: "true";
      position: absolute;
      bottom: var(--gap);
      left: var(--gap);
    }

    &::after {
      content: "false";
      position: absolute;
      bottom: var(--gap);
      right: var(--gap);
    }

    & > .Symbol__title {
      text-align: center;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  & > .Symbol__children {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    margin: 0 auto;
    width: 100%;
    border-width: 0 0 1px 0;

    & > .ContainerSymbol {
      &:first-child {
        grid-area: left;
      }

      &:last-child {
        border-left: 1px solid black;
        grid-area: right;
      }
    }
  }

  .svg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;

      line {
        stroke: black;
        stroke-width: 1px;
      }
    }
  }
}

.ContainerSymbol {
  position: relative;
  display: flex;
  flex-direction: column;

  > button {
    display: none;
    position: absolute;
    top: 0;
    left: calc(50% - 1.5rem);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 !important;
    border: 0;
    background: none;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &:hover {
    button {
      display: flex;
    }
  }
}

.Symbol--Placeholder {
  height: max-content;
  outline: rgba(255, 143, 0, 0.6) solid 5px;
  z-index: 9999;

  .Symbol__header {
    text-align: center;
    font-style: italic;
    color: opacify(#ff8f00, 0.5);
    text-transform: uppercase;
  }

  span {
    animation: pulseText 0.5s alternate ease-in-out infinite;
  }

  @keyframes pulseText {
    from {
      opacity: 0.6;
    }

    to {
      opacity: 1;
    }
  }
}

.Symbol--blank {
  flex: 1;
  color: #3b3b3b;
  background: #dbdbdb;
}
