:root {
  font-size: 16px;
  font-family: sans-serif;
}

body,
html {
  margin: 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: darkslateblue;
}

.logo {
  color: white;
  margin-top: 0;
  padding: 1rem 0;

  span {
    color: whitesmoke;
  }

  header {
  }
}

/** Import BEM Blocks **/
@import "Symbol";

.Symbols {
  border: 1px solid black;
  border-top: 0;
  box-shadow: 0 0.25em 0.5em -0.125em rgba(0, 0, 0, 0.4);
}

.container {
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 0 auto;
}

.SymbolForm {
  display: flex;
  flex-direction: column;

  input,
  select {
    margin-top: 0.25em;
    margin-bottom: 1em;
  }
}

.SymbolForm__buttons {
  display: flex;
  flex: 1;
  justify-content: space-between;

  button {
    width: calc(50% - 0.5em);
  }
}
