@import "reset";
@import "variables";

:root {
  --container-width: 100%;
  --padding: 0.5rem;
  --font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
}

body {
  background-color: whitesmoke;
  max-height: 100vh;
  overflow-x: hidden;
}

/** Import BEM Blocks **/
@import "Symbol";

.Symbols {
  border: 0.0625rem solid black;
  border-top: 0;
  background-color: white;
  box-shadow: 0 10px 20px -5px rgba(20, 20, 20, 0.3);
  transition: 0.2s ease-in;

  &--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    font-size: 1rem;
    color: rgb(119, 119, 119);
    border: 0.125rem currentColor dashed;
    border-radius: 3px;
    box-shadow: none;

    p {
      margin: 0;
    }
  }
}

.wrapper,
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

#masthead {
  background: #ff8f00;
  color: #fffde7;
  padding: var(--padding);
  font-size: 0.7rem;
}

h1 {
  font-size: 2rem;
  font-weight: 300;

  span {
    display: block;
    font-weight: 500;
    font-size: 0.5em;
  }
}

.MenuBar {
  display: flex;
  justify-content: start;

  padding-block: var(--padding);

  button {
    margin-right: var(--padding);
  }
}

#diagram,
#control {
  margin-top: var(--padding);
}

#diagram {
  padding: var(--padding);
}

#canvas {
  flex: 1;
}

#control {
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: calc(var(--padding) * 2 + 48px);
  width: 100%;
  padding: var(--padding);
  background-color: yellow;

  #toggleOffCanvas {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    display: block;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 48px;
    transition: 0.3s ease-in-out;

    &::before {
      content: "";
      display: inline-block;
      border: solid orange;
      border-width: 0 8px 8px 0;
      padding: 8px;
      transform: rotate(-135deg);
    }

    span {
      display: none;
    }
  }

  #toggleOffCanvasInput:checked + #toggleOffCanvas {
    transform: rotate(-180deg);
  }

  form {
    opacity: 0;
    height: 0;
    transition: all 0.3s ease-out, opacity 0.1s;
  }

  #toggleOffCanvasInput:checked ~ form {
    opacity: 1;
    height: min-content;
  }
}

.AddModal__toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  font-size: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: rgb(214, 23, 23);
  line-height: 20px;
  color: white;

  text-align: center;
}

.SymbolForm {
  display: flex;
  flex-direction: column;

  input,
  select,
  button {
    margin-top: 0.25em;
    margin-bottom: 1em;
    font-size: 1rem;
  }

  input,
  option {
    padding: 5px;
  }
}

.SymbolForm__buttons {
  display: flex;
  flex: 1;
  justify-content: space-between;

  button {
    width: calc(50% - 0.5em);
  }
}

input {
  border: 1px solid grey;
}

// Media Queries
@media (min-width: $breakpoint-sm) {
  :root {
    --padding: 0.7rem;
  }
}

@media (min-width: $breakpoint-md) {
  :root {
    --font-size: 18px;
    --padding: 1rem;
    --container-width: 600px;
  }

  .wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr;
    gap: var(--padding);
    grid-template-areas: "control diagram";
  }

  #diagram {
    grid-area: diagram;
    padding: 0;
  }

  #control {
    grid-area: control;
    position: relative;
    height: initial;
    margin-right: var(--padding);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.4);

    #toggleOffCanvas {
      display: none;
    }

    form {
      visibility: visible;
      opacity: 1;
      height: initial;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  :root {
    --padding: 1rem;
    --container-width: min(calc(100vw - 4rem), 1200px);
  }

  .wrapper {
    grid-template-columns: 300px 1fr;
  }
}

@import "utilities";
