:root {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: whitesmoke;
  max-height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: darkslateblue;
}

.logo {
  color: rgb(255, 255, 137);
  margin-top: 0;
  padding: 1rem 0;
}

h1,
h2,
h3,
h4 {
  font-weight: lighter;
  margin-top: 0;
}

/** Import BEM Blocks **/
@import "Symbol";

.Symbols {
  border: 0.0625rem solid black;
  border-top: 0;
  background-color: white;
  transition: box-shadow 0.2s ease-in;

  &--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    font-size: 1em;
    color: rgb(119, 119, 119);
    border: 0.125rem currentColor dashed;
    border-radius: 3px;
    box-shadow: none;

    p {
      margin: 0;
    }
  }
}

.container {
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 0 auto;
}

.AddModal,
.EditModal {
  position: relative;
  margin-top: 2rem;
  background: white;
  padding: 1rem;
}

.AddModal__toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  font-size: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: rgb(214, 23, 23);
  line-height: 20px;
  color: white;

  text-align: center;
}

.SymbolForm {
  display: flex;
  flex-direction: column;

  input,
  select,
  option {
    margin-top: 0.25em;
    margin-bottom: 1em;
    font-size: 1rem;
    padding: 5px;
  }
}

.SymbolForm__buttons {
  display: flex;
  flex: 1;
  justify-content: space-between;

  button {
    width: calc(50% - 0.5em);
  }
}
